/* admin_styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  max-width: 700px; /* Adjusted width */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #ddd;
  display: block; /* Display as block-level elements */
}

button[type="submit"] {
  background-color: #5575b0;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #6385c3;
}

/* Add your existing styles here */
